{% extends "frame.html" %}

{% block title %}
    Fakebook
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/Fakebook/styles.css">
{% endblock css %}

{% block content %}
    <head>
        <title>Viktoria Alexandra S. | Fakebook</title>

    </head>

    <body>
        <h1 style="color:blue"><i>FAKEBOOK</i></h1>



        <h2>Viktoria Alexandra S.</h2>
    <div id="section">
        <img src="/static/img/Fakebook/Anonymous Female.jpg" alt="Viktorias Picture" style="width:120px;height:130px;">
        <br>
        <br>

        <button>Add a friend</button>
        <br>

        <p><strong>City:</strong> Vienna</p>
        <p><strong>Age:</strong> 24</p>
        <p><strong>Hobby:</strong>
        <ul><li>reading books</li>
        <li>watching netflix</li></ul></p>
    </div>
    </body>
{% endblock content %}
